.projectCard {
    display: flex;
    flex-direction: column;
    background-color: hsl(60, 1%, 14%);
    padding: 30px;
    max-height: 250px;
    box-shadow: black 10px 12px 0.6em;
    width: 400px;
}

.projectCard p {
    flex: 1;
    color: white;
    text-wrap: wrap;
    
}
.projectCard h1 {
    color: white;
}

.skillCardsContainer {
    display: flex;
    margin-left: 0px;
}

.gameLink :hover{
    color: var(--blue500);
    border-color: var(--orange500);
    font-weight: bolder;
}

.iFrameDisplay { 
    /* display: none; */
    width: 300%; 
    height: 300%; 
    position:relative;
    transform-origin: 0 0;
    scale: 0.3;
}

.iFrameDiv {
    height: 200px;
    width: 340px; /* Hardcoded for now*/
    display: flexbox;
    overflow: hidden;
}