.projectCard {
    display: flex;
    flex-direction: column;
    background-color: hsl(60, 1%, 14%);
    padding: 30px;
    max-height: 250px;
}

.projectCard p {
    flex: 1;
    color: white;
    text-wrap: wrap;
    
}
.projectCard h1 {
    color: white;
}

.skillCardsContainer {
    display: flex;
    margin-left: 0px;
}

.gameLink :hover{
    color: var(--blue500);
    border-color: var(--orange500);
    font-weight: bolder;
}

iframe { 
    transform: scale(.25); 
    width: 400%; 
    height: 400%; 
    position:relative;
    transform-origin: 0 0;


}